<div id="selection-title" class="ssm_search_selection_title ssm_search">Search selections for <b>'<%=keyWord%>'</b></div>

<% for (var i=0; i<selection.length; i++) { %>
<div id="<%=selection[i].name%>" class="ssm_search_selection ssm_search"><%=selection[i].value%> for <b>'<%=keyWord%>'</b></div>
 <% } %>     

          