<div class='float-left'>
	<img src='../images/lightbulb128x128.png'/>
</div>
<div class='float-left content'>
	<div class='heading float-left'> <%= header %> </div>
	<div class='detail'> <%= detail %> </div>
</div>