<div id="ssm_confirmMessageBody" class="messageBody">
	<div class="bodyWrapper" style="text-align: center;">
		<div class="bottom-spacer-20"><%= message %></div>
		<div>
			
			<input type="button" class="greenButton" value="OK"/>			
			
			
			
		</div>
	</div>				
</div>