<!-- Breadcrumb -->
		<div id="ssm_orderingCrumb" class="ssm_crumb">
		
			<!-- Selection Item Crumb -->
			<div class="activeCrumbLeft"/>
			<div class="activeCrumbBody"><a href="#ssm_SelectionItems">Selection#: <%= ssm_id %></a></div>
			<div class="activeCrumbRight"/>
			
			<!-- Items -->		
			<div class="inactiveCrumbBody crumbBody">Items</div>
			<div class="inactiveCrumbPointedToGhost crumbEnd"></div>
			
			<!-- Customer and Ship to -->
			<div class="ghostCrumbBody crumbBody">Customer and Ship To</div>
			<div class="ghostCrumbPointedToGhost crumbEnd"></div>
			
			<!-- Order Header -->
			<div class="ghostCrumbBody crumbBody">Order Header</div>
			<div class="ghostCrumbPointedToGhost crumbEnd"></div>
			
			<!-- Message Lines -->
			<div class="ghostCrumbBody crumbBody">Message Lines</div>
			<div class="ghostCrumbPointedToGhost crumbEnd"></div>
			
			<!-- Submit -->
			<div class="ghostCrumbBody crumbBody">Submit</div>
			<div class="ghostCrumbPointedToGhost crumbEnd"></div>
			
			<!-- Order Complete -->
			<div class="ghostCrumbBody crumbBody">Order Complete</div>
			<div class="ghostCrumbRounded crumbEnd"></div>
			
		</div>