<div id="ssm_lower_body">
    <div id='ssm_Reminders'>
      <div class='dayViewTop widthControl'>
        <div class="padding5"></div>
        
        <!--
        <div class="ssm_mainPage_hdr">Reminders</div>
        <div id='ssm_reminder_mainPage_links'>
          <div class='options'>
            <a href="#openRemindersDay/reset" class='mini-calendar calendar-1'></a>
            <a href="#openRemindersWeek/reset" class='mini-calendar calendar-7'></a>
            <a href="#openRemindersMonth/reset" class='mini-calendar calendar-31'></a>
          </div>
    
          <div id='ssm_reminder_dayPage_today'>
            <a href="#openRemindersDay/reset" class="ssm_show_current_week">View Today</a>
          </div>
        </div>
        
        <div id="ssm_line"></div>
        -->
        
        <div id = "ssm_Dayview_Section" class="ssm_interfaceSurrounder">
            <div class="ssm_headerBarGray">
                <div class="padding5">
                    <span class="commandButton float-left ssm_headerIcon">
                        <img class="reminders" src="../images/clear.gif">
                    </span>
                    <div class="title float-left">Reminders</div>
                </div>
            </div>
          <div id="ssm_Dayview_left">
            <div class ="ssm-subTitleBar_1">Scheduled Reminders</div>
            <div class="ssm_busy">
                <div class="ssm_load_indicator_text">Loading results...</div>
                <div class="ssm_load_indicator"></div>
            </div>
          </div>
          <div id="ssm_Dayview_right">
            <div id="ssm_Dashboard_CalendarSection_1">
              <div id='ssm_Dashboard_Calendar'></div>
            </div>
          </div>
        </div>
        <div class="detachedFooter float-left">
             <span class="commandButton float-left"><a class="backToTop" href="#Top"></a></span>
        </div>
	   
	    <div class="bottom-padding-footer clear-both"></div>
      </div>
    </div>
</div>