<div id="ssm_lower_body">    
    <div id='ssm_Reminders'>
      <div class='dayViewTop widthControl'>
          <div class="padding5"></div>
        <div id = "ssm_Dayview_Section" class="ssm_interfaceSurrounder">
            <div class="ssm_headerBarGray">
                <div class="padding5">
                    <span class="commandButton float-left ssm_headerIcon">
                        <img class="reminders" src="../images/clear.gif">
                    </span>
                    <div class="title float-left">Reminders</div>
                    <div class='options float-left' id='ssm_reminder_mainPage_links'>
                        <a href="#openRemindersDay/reset" class='mini-calendar calendar-1'></a>
                        <a href="#openRemindersWeek/reset" class='mini-calendar calendar-7'></a>
                        <a href="#openRemindersMonth/reset" class='mini-calendar calendar-31'></a>
                    </div>
                    <div id="DateInfoButtonsContainer">
                        <div id ='ssm_weekPage_date_buttons'>
                            <a href="#openRemindersDay/forward" id="ssm_reminders_forward_week_link" class="ssm_reminders_jump_link float-right"></a>
                            <a href="#openRemindersDay/backward" id="ssm_reminders_backward_week_link" class="ssm_reminders_jump_link float-left"></a>
                            <div id='ssm_weekPage_dateInfo'>
                                <label>date information</label>
                            </div>
                            
                        </div>
                    </div>
                    <div id='ssm_reminder_dayPage_today'>
                        <a href="#openRemindersDay/reset" class="ssm_show_current_week">View Today</a>
                    </div>
                </div>
            </div>
          <div id="ssm_Dayview_left">
            
            <!--<div class =" lightBlueGradient">Scheduled Reminders</div>
            
            <div id="ssm_add_hover">
              <a href="#openReminderDetailUpd/" class="ssm_day_add_icon"></a>
            </div>ssm-Box_A-->
            <div class="ssm-subTitleBar_1">
                <span class="commandButton float-right leftBorder-dotted"><a class="ssm-work-with" href="#openReminderDetailUpd/"></a></span>
                Scheduled Reminders
            </div>
          </div>
          <div id="ssm_Dayview_right">
            <div id="ssm_Dashboard_CalendarSection_1">
              <div id='ssm_Dashboard_Calendar'></div>
            </div>
          </div>
        </div>
        <div class="detachedFooter float-left">
             <span class="commandButton float-left"><a class="backToTop" href="#Top"></a></span>
        </div>
		 <div class="bottom-padding-footer clear-both"></div>
      </div>
    </div>
</div>    
    
    
    
    
    
