<tr>
	<td class="centered commandCol">														
		<span class="commandButton"><a class="commandButton ssm-edit expand" href="#edit-reference" title="Edit Reference"/></span>
	</td>
	<td>
		<div class="padding5">
							
		
			<!-- reference_edit_details -->
			<div class="ssm-edit-reference-container padding10" style="display:none;"/>
			
			<!-- reference_details -->
			<div class="ssm_reference_table_info_wrapper"/>							
			
		</div>			
	</td>
</tr>	