<!-- Breadcrumb -->
		<div id="ssm_orderingCrumb" class="ssm_crumb">
		
			<!-- Selection Item Crumb -->
			<div class="activeCrumbLeft"/>
			<div class="activeCrumbBody"><a href="#ssm_SelectionItems">Selection#: <%= ssm_id %></a></div>
			<div class="activeCrumbRightToGhostPointed"/>
			
			<!-- Items -->		
			<div class="ghostCrumbBody">Items</div>
			<div class="ghostCrumbPointedToGhost"></div>
			
			<!-- Customer and Ship to -->
			<div class="ghostCrumbBody">Customer and Ship To</div>
			<div class="ghostCrumbPointedToGhost"></div>
			
			<!-- Order Header -->
			<div class="ghostCrumbBody">Order Header</div>
			<div class="ghostCrumbPointedToGhost"></div>
			
			<!-- Message Lines -->
			<div class="ghostCrumbBody">Message Lines</div>
			<div class="ghostCrumbPointedToGhost"></div>
			
			<!-- Submit -->
			<div class="ghostCrumbBody ">Submit</div>
			<div class="ghostCrumbPointedToInactive"></div>
			
			<!-- Order Complete -->
			<div class="inactiveCrumbBody">Order Complete</div>
			<div class="inactiveCrumbRight"></div>
			
		</div>