<div class="centered">
	<div class="bottom-spacer-20">
		<div id="ssm_orderConfirmationNotice" class="centered">
			    Reference#<%= ssm_ReferenceId %> has been created successfully and put on temporary hold
		</div>
	</div>
	
	<div id="ssm_orderCompleteMenu" class="centered" style="width:729px;color:black;font-weight:bold;">
		<div class="float-left" style="width:175px">
			<div class="commandButton centered"><a class="ssm-print" href="#printOrderQuote/<%= ssm_ReferenceId %>" title="Print Quote"></a></div>
			<div style="border-right:1px solid black;">Print Quote</div>
		</div>
		<div class="float-left" style="width:175px">
			<div class="commandButton centered"><a class="arrowLeft" href="#ssm_SelectionItems" title="Return to Selection"></a></div>
			<div style="border-right:1px solid black;">Return to Selection</div>
		</div>
		<div class="float-left" style="width:175px">
			<div class="commandButton centered"><a class="addDoc" href="#newSelection" title="Start New Selection"></a></div>
			<div style="border-right:1px solid black;">Start New Selection</div>
		</div>
		<div class="float-left" style="width:175px">
			<div class="commandButton centered"><a class="home" href="#returnHome" title="Return to Dashboard"></a></div>
			<div>Return to Dashboard</div>
		</div>
	</div>
</div>