<tr>
	<td class="centered">		
		<span><a class="commandButton ssm-edit expand" href="#edit-reference" title="Edit Job"></a></span>			
	</td>
	<td>
	    <div class="title underlined_title editJob" style="display:none;">
	        <span>Edit Job Information</span>
	    </div>
		<label style="display:none;" class="editJob">Description: </label><input class="longer" type="text" name="desc" value="<%= description %>"/>
		
		<span class="description"><%= description %></span>
	</td>
</tr>
