<div id="ssm_selectionItemCommands" class="roundedTop lightBlueGradient"></div>
<div class="ssmTableWrapper">
	<div class="ssm_busy">
	    <div class="ssm_load_indicator_text">Loading results</div>
	    <div class="ssm_load_indicator"></div>
	</div>
</div>
<!--<div id="ssm_modeFooter"  class="roundedBottom"></div>-->	
