<tr>
	<td>
		<a class="addMacroMessage float-left" href="#addMacroMessage" title="Add Macro Message">
			<span class="commandButton ssm-work-with"></span>
		</a>
	</td>
	<td>
		<%= msgid %>
	</td>
	<td>
		<%= description %>
	</td>
</tr>
