<div id="ssm_macroMessagesContainer">	

		
		<!-- Macro Messages Container -->
		<div id="ssm_marcoMessagesTableContainer">
			<div class="ssmTableWrapper">
				<table class="ssmTable">
					<thead>
						<tr>
							<th>Line</th>
							<th>ID</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>					
		</div>	
</div>