<!-- Marco Messages Header -->
		
<div style="width:<%= width %>px;">
	<div class="commandButton float-right ssm-close-box ssm_closeMacroMessageContainer">
		<a id="ssm_closeMacroMessages" class="commandButton" href="#ssm_closeMacroMessageContainer" title="Close"></a>
	</div>
			
	<div class="commandButton float-left" style="margin:1px 0 0 2px;"><a class="memo"></a></div>			
	<span class="ssmTitleText"><%= msg %></span>		
</div>
	