<tr class="ssm_selection_type_subTotal_row ssmIgnore">
	<td colspan="4" class="col1">
		<span class="ssmPricingInfo">Estimated <%= roomtype_desc %> Total:</span>
	</td>
	<td class="col2">
		<span class="ssmPricingInfo"><%= price %></span>
	</td>
</tr>
