	<div class="label-list  float-left">
		<label class="float-left colWidth-160">Item#</label>
		<div id="item_number" class="float-left">
			
			
		</div>
	</div>
					
	<div class="label-list  float-left">
		<label class="float-left colWidth-160">Product Line</label>
		<div id="product_line" class="float-left">
			
			
		</div>
	</div>
					
	<div class="label-list  float-left">
		<label class="float-left colWidth-160">Manufacturer</label>
		<div id="manufacturer" class="float-left">
			
		</div>
	</div>