<!-- Print Header -->     
<div style="width:<%= width %>;">
    <div class="commandButton float-left" style="margin:1px 0 0 2px;"><a class="ssm-print"></a></div>          
    <span class="ssmTitleText"><%= msg %></span>        
</div>
     